
@media screen and (min-width:320px) and (max-width:768px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .navside {
        display:none;
    }
    .banner{
        margin:0; 
        width:100%;
        height:400px;
        /* position: static !important; */
        background-position: top;
        background-size: cover;
        padding: 30px;
    }
    .bannertext{
        margin:0;
        width:100%;
    }
    .bannertext h1{
        font-size: 42px;
        line-height: 44px;
    }
    .bannertext p{
        margin:0;
    }
    
    .dentistcare{
        width:100%;
        margin: 0;
      
        padding:30px;
    }
   
    .dentistcare h1{
    
     text-transform: capitalize;
    }
    .dentistcare p{
        padding: 0 44px;
    }
    
    .benfits{
        margin:auto;
        width:100%;
        /* padding: 50px 0px; */
      
    }
    .parent{
        
        width:85%;
        margin: 10px 30px;   
       
    
    }
    .parent .image{
        width:100%;
    }
   
 
    .smile{
        margin: 0;
        width: 100%;
        height: 650px;
        
    }
    .smilecontent{
        padding: 60px;
        width:100%;
   
        position: static !important;
        transform: none;
    }
    .smilebg{
        position: static !important;
    }
    .smilebg::before{
        top: 5px;
    left: 40px;
    }

    .treatment{
        padding:40px;
        width:100%;
        margin: 0;
       
    }
   
    .our
    .doctor,
    .right
    {
       margin:0;
        width:100%;
   
    } 
    
    .partners{
        width:100%;
        margin:0;
        
    }
    .partnerpara p{
        width: 75%;
        
        margin: auto;
        line-height: 32px;
    }

    .topteeth{
        width:100%;
        display: block;
       
    }
    .topteeth div{
        width: 80%;
       
        margin: auto;
    }   
   

    .smile1
    {
        margin:0;
        width:100%;
        height:400px;
      
    }
    
    .bgsmile h1{
        padding:40px;
    }
    .bgsmile button{
        position: static !important;
      
        margin: auto;
        width: 65%;
        display: block;

    }

    .contact1
    
    {
        width:100%;
        margin:0;
        padding:25px;
  
    }
    .den{
        overflow: auto;
        width:100%;
        margin: auto;
        padding:25px;

    }
    .den img{
        width:100%;
    }

    
    .foot
    {
        width:100%;
        margin:0;
       
    }

.myDiv{
    display:none;
}

}